# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# Editor/IDE
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.project
.settings/

# Logs
*.log

# Common
__pycache__/
*.pyc
node_modules/
